<!DOCTYPE html>
<html lang="en" layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log activity</title>
</head>
<body>

<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Halaman log activity</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/access/list">Log activity</a></li>
                        <li class="breadcrumb-item active">Detail log activity</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Personalisasi</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive-md">
                                <table id="tb-access-perso" class="table table-bordered" style="width: 100%">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Serial</th>
                                        <td th:text="${access.perso.serial}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Expired</th>
                                        <td th:text="${#dates.format(access.perso.expired,'dd-MM-yyyy')}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status Kartu</th>
                                        <td th:text="${access.perso.active}?'Aktif':'Tidak Aktif'">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">NIP</th>
                                        <td th:text="${access.perso.employee.empNo}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nama Depan</th>
                                        <td th:text="${access.perso.employee.firstName}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nama Belakang</th>
                                        <td th:text="${access.perso.employee.lastName}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Jenis Kelamin</th>
                                        <td th:text="(${access.perso.employee.gender}=='F')?'Perempuan':'Laki-laki'">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tanggal Lahir</th>
                                        <td th:text="${#dates.format(access.perso.employee.birthDate,'dd-MM-yyyy')}">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tanggal Masuk</th>
                                        <td th:text="${#dates.format(access.perso.employee.hireDate,'dd-MM-yyyy')}">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Device</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive-md">
                                <table id="tb-access-device" class="table table-bordered" style="width: 100%">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Nama</th>
                                        <td th:text="${access.device.name}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Node</th>
                                        <td th:text="${access.device.node}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ip Address</th>
                                        <td th:text="${access.device.ipAddress}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Port</th>
                                        <td th:text="${access.device.port}">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Akses</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive-md">
                                <table id="tb-access" class="table table-bordered" style="width: 100%">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Waktu</th>
                                        <td th:text="${#dates.format(access.transactionDate,'dd-MM-yyyy')}">
                                    </tr>
                                    <tr>
                                        <th scope="row">Aktivitas</th>
                                        <td th:text="${access.desc}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Log Aktivitas</th>
                                        <td th:text="${access.summary}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status</th>
                                        <td th:text="${access.success}?'Berhasil':'Gagal'">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>
    <!-- Main content -->


</div>

<th:block layout:fragment="script">
    <script>
        console.log("Employee Detail");
    </script>
</th:block>
</body>
</html>