<!DOCTYPE html>
<html lang="en" layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar inject smart card</title>
</head>
<body>

<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Halaman inject smart card</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Inject smart card</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Inject Data</h3>
                        </div>
                        <form method="post" th:object="${inject}" th:action="@{/inject/add}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Pegawai</label>
                                            <select class="form-control select2" multiple="multiple"
                                                    data-placeholder="Pilih pegawai"
                                                    style="width: 100%;" th:field="*{persos}" id="persos">
                                                <option th:each="perso:${persos}" th:value="${perso.id}"
                                                        th:text="${perso.employee.firstName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Perangkat</label>
                                            <select class="form-control select2" multiple="multiple"
                                                    data-placeholder="Pilih perangkat"
                                                    style="width: 100%;" th:field="*{devices}" id="devices">
                                                <option th:each="device:${devices}" th:value="${device.id}"
                                                        th:text="${device.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <div th:if="${#fields.hasErrors('all')}">
                                    <div class="form-group">
                                        <div class="alert alert-warning alert-dismissible fade show">
                                            <label th:errors="*{all}">xxx</label>
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Daftar inject smart card</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive-md">
                                <table id="tb-list-emp" class="table table-bordered" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>Serial</th>
                                        <th>NIP</th>
                                        <th>Nama Depan</th>
                                        <th>Nama Belakang</th>
                                        <th>Nama Perangkat</th>
                                        <th>Status</th>
                                        <th>Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Serial</th>
                                        <th>NIP</th>
                                        <th>Nama Depan</th>
                                        <th>Nama Belakang</th>
                                        <th>Nama Perangkat</th>
                                        <th>Status</th>
                                        <th>Aksi</th>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- Modal -->
                                <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Apakah anda yakin akan menghapus data ini?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info btn-sm"
                                                        data-dismiss="modal">
                                                    Tidak
                                                </button>
                                                <form id="delete-data" action="" method="post">
                                                    <input type="hidden" name="_method" value="delete">
                                                    <button type="submit" class="btn btn-danger btn-sm btn-delete">Ya
                                                    </button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>
    <!-- Main content -->


</div>

<th:block layout:fragment="script">
    <script>
        console.log("Employee Page");
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            const table = $('#tb-list-emp').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/inject",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    {"data": "perso.serial"},
                    {"data": "perso.employee.empNo"},
                    {"data": "perso.employee.firstName"},
                    {"data": "perso.employee.lastName"},
                    {"data": "device.name"},
                    {
                        "data": "success",
                        "render": function (d) {
                            return (d) ? "Berhasil" : "Gagal";
                        }
                    },
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            console.log(data);
                            // console.log(type);
                            // console.log(typeof (row));
                            console.log(row);
                            // console.log(meta);
                            // return `<button id="bt-hapus" data-name="` + row['id'] + `">KLIK</button>`
                            // return '<button onclick="showDetail(\'' + row['id'] + '\')">KLIK</button>'
                            return `<a href="/inject/list/` + row['id'] + `" class="btn btn-primary btn-sm"><i class="fas fa-folder"></i></a>
                            <a href="/inject/` + row['id'] + `" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" onclick="deleteEmployee(\`` + row['id'] + `\`)" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i></a>`
                        },
                        "orderable": false
                    }
                ]
            });
        });

        function deleteEmployee(id) {
            console.log("deleting id: " + id);
            $('#delete-data').attr("action", "/inject/delete/" + id);
            $('#employeeModal').modal('show');
        }
    </script>
</th:block>
</body>
</html>