<!DOCTYPE html>
<html lang="en" layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail device</title>
</head>
<body>

<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Halaman manajemen device</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="/device/list">Device</a></li>
                        <li class="breadcrumb-item active">Detail device</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Detail device</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive-md">
                                <table id="tb-edit-emp" class="table table-bordered" style="width: 100%">
                                    <tbody>
                                    <tr>
                                        <th scope="row">ID</th>
                                        <td th:text="${device.id}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nama Node</th>
                                        <td th:text="${device.name}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Node</th>
                                        <td th:text="${device.node}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">IP Address</th>
                                        <td th:text="${device.ipAddress}">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Port</th>
                                        <td th:text="${device.port}">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>
    <!-- Main content -->


</div>

<th:block layout:fragment="script">
    <script>
        console.log("device Detail");
    </script>
</th:block>
</body>
</html>