<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

</head>
<body>

<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3 th:text="${totalEmp}">150</h3>

                            <p>Total Pegawai</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a class="small-box-footer" href="/employee/list">More info <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3 th:text="${totalPers}">53<sup style="font-size: 20px">%</sup></h3>

                            <p>Total smart card</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a class="small-box-footer" href="/perso/list">More info <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3 th:text="${totalDev}">44</h3>

                            <p>Total perangkat</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a class="small-box-footer" href="/device/list">More info <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3 th:text="${totalAcc}">65</h3>

                            <p>Total akses</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a class="small-box-footer" href="/access/list">More info <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- AREA CHART -->
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="lineChart"
                                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <!-- BAR CHART -->
                    <div class="card card-success">
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="barChart"
                                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Main content -->
</div>
<th:block layout:fragment="script">
    <script>
        console.log("Index Page");
        // chart colors
        var colors = ['#007bff', '#28a745', '#333333', '#c3e6cb', '#dc3545', '#6c757d', '#8e5ea2', '#3cba9f'];
        $(document).ready(function () {
            $.ajax({
                url: "/dashboard/byDevice",
                success: function (results) {
                    console.log(results);
                }
            });

            $.ajax({
                url: "/dashboard/byCard",
                success: function (results) {
                    console.log(results);
                    var labels = []
                    var data = []
                    for (var i in results) {
                        labels.push(results[i].nama)
                        data.push(results[i].jumlah)
                    }
                    //-------------
                    //- BAR CHART -
                    //-------------
                    var bar = document.getElementById("barChart");
                    new Chart(bar, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [
                                {
                                    label: "Jumlah transaksi",
                                    backgroundColor: ["#ff4d94", "#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#007bff"],
                                    // backgroundColor: warna_bg,
                                    data: data
                                }
                            ]
                        },
                        options: {
                            legend: {display: false},
                            title: {
                                display: true,
                                text: 'Rekap transaksi smart card'
                            }
                        }
                    });
                }
            });

            $.ajax({
                url: "/dashboard/byDate",
                success: function (results) {
                    console.log(results);
                    var label = [];
                    var data = [];
                    for (var i in results) {
                        label.push(results[i].tanggal);
                        data.push(results[i].jumlah);
                    }

                    var chLine = document.getElementById("lineChart");
                    var chartData = {
                        labels: label,
                        datasets: [{
                            data: data,
                            backgroundColor: 'transparent',
                            borderColor: colors[0],
                            borderWidth: 4,
                            pointBackgroundColor: colors[0]
                        }
                        ]
                    };
                    if (chLine) {
                        new Chart(chLine, {
                            type: 'line',
                            data: chartData,
                            options: {
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: false
                                        }
                                    }]
                                },
                                title: {
                                    display: true,
                                    text: 'Rekap smart card'
                                },
                                legend: {
                                    display: false
                                },
                                responsive: true
                            }
                        });
                    }
                }
            });
        })
    </script>
</th:block>
</body>
</html>
