<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" href="/">
        <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             src="/dist/img/AdminLTELogo.png"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Smart card apps</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img alt="User Image" class="img-circle elevation-2"
                     src="/dist/img/user2-160x160.jpg">
            </div>
            <div class="info">
                <a class="d-block" href="#">Alexander Pierce</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Employee
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="/employee/list">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List Employee</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employee">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Employee</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-door-closed"></i>
                        <p>
                            Device
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="/device/list">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List Device</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/device">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Device</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-id-card"></i>
                        <p>
                            Smart card
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="/perso/list">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Personalisasi</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="/inject/list">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inject</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="/access/list">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Akses</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Contact</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <i class="nav-icon fas fa-th"></i>
                        <p>About</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
